[submodule "SubPackages/fishhook"]
	path = SubPackages/fishhook
	url = https://github.com/johnno1962/fishhook
[submodule "SubPackages/DLKit"]
	path = SubPackages/DLKit
	url = https://github.com/johnno1962/DLKit
[submodule "SubPackages/InjectionLite"]
	path = SubPackages/InjectionLite
	url = https://github.com/johnno1962/InjectionLite
[submodule "SubPackages/SwiftRegex5"]
	path = SubPackages/SwiftRegex5
	url = https://github.com/johnno1962/SwiftRegex5
